<HTML>
	<HEAD>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<TITLE>网上图书超市</TITLE>
		<LINK href="../../assets/css/style.css" rel=stylesheet>
	</HEAD>
	<BODY>
		<!--最外层大表格-->
		<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
			<TBODY>
				<TR>
					<TD>
						<TABLE height=609 cellSpacing=0 cellPadding=0 width=777
							align=center bgColor=#ffffff border=0>
							<TBODY>
								<TR>
									<TD vAlign=top>




										<!--后台导航菜单-->
										<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
											<TBODY>
												<TR>
													<TD bgColor=#81cf00 colSpan=2 height=6></TD>
												</TR>
												<TR>
													<TD width="28%" height=70>
														<IMG height=58 src="../../assets/images/index_ht.gif" width=221>
													</TD>
													<TD vAlign=top width="72%">
														<TABLE height=35 cellSpacing=0 cellPadding=0 width="100%"
															border=0>
															<TBODY>
																<TR align=middle>
																	<TD vAlign=bottom rowSpan=2>&nbsp;
																		
																  </TD>
																	<TD vAlign=bottom height=22>
																		<A
																			href="&#21518;&#21488;_&#22270;&#20070;&#31649;&#29702;.html">图书管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A
																			href="&#21518;&#21488;_&#29992;&#25143;&#31649;&#29702;.html">用户管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A
																			href="&#21518;&#21488;_&#23450;&#21333;&#31649;&#29702;.html">订单管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A
																			href="&#21518;&#21488;_&#20844;&#21578;&#31649;&#29702;.html">公告管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A
																			href="&#21518;&#21488;_&#25237;&#31080;&#31649;&#29702;.html">投票管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		&nbsp;
																		<A
																			href="&#20027;&#39029;.html">退出</A>&nbsp;
																	</TD>
																</TR>
																<TR align=middle>
																	<TD height=13>
																		<A
																			href="&#21518;&#21488;_&#22270;&#20070;&#31649;&#29702;.html">Books
																			Manage</A>
																	</TD>
																	<TD>
																		<A
																			href="&#21518;&#21488;_&#29992;&#25143;&#31649;&#29702;.html">Member
																			Manage</A>
																	</TD>
																	<TD>
																		<A
																			href="&#21518;&#21488;_&#23450;&#21333;&#31649;&#29702;.html">Order
																			Manage</A>
																	</TD>
																	<TD>
																		<A
																			href="&#21518;&#21488;_&#20844;&#21578;&#31649;&#29702;.html">BBS
																			Manage </A>
																	</TD>
																	<TD>
																		<A
																			href="&#21518;&#21488;_&#25237;&#31080;&#31649;&#29702;.html">Poll
																			manage </A>
																	</TD>
																	<TD>
																		&nbsp;
																		<A
																			href="&#20027;&#39029;.html">Quit</A>&nbsp;
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<!--后台导航菜单-->



										<!--标题部分-->
										<TABLE class=tableBorder_LTR cellSpacing=0 cellPadding=0
											width="100%" border=0>
											<TBODY>
												<TR>
													<TD align=middle bgColor=#eeeeee height=30>
														≡≡≡
														<A href="#">定单管理</A> ≡≡≡
													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<!--标题部分-->



										<!--内容部分-->
										<TABLE class=tableBorder_LBR height=396 cellSpacing=0
											cellPadding=0 width="100%" border=0>
											<TBODY>
												<TR>
													<TD width="26%" height=395 vAlign=top>
														<TABLE cellSpacing=-2 cellPadding=-2 width="100%" border=0>
															<TBODY>
																<TR>
																	<TD class=word_grey align=middle width="55%" height=82>
																		&nbsp;
																		<IMG height=54 src="../../assets/images/reg.gif" width=84>
																	</TD>
																	<TD class=word_grey align=left width="45%">
																		订单管理
																	</TD>
																</TR>
																<TR>
																	<TD class=word_grey style="LINE-HEIGHT: 200%"
																		vAlign=top colSpan=2 height=112>
																		<UL>
																			<LI>
																				订单的执行：点击“执行”栏中的“执行”图标可以执行此订单。
																			<LI>
																				订单信息查看：可以查看订单的详细信息，但不可以修改订单信息。
																			</LI>
																		</UL>
																	</TD>
																</TR>
																<TR align=middle>
																	<TD class=word_grey vAlign=center colSpan=2></TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
													<!--说明部分-->
													<!--说明部分-->

													<!--表单部分-->
													<!--分隔条-->
													<TD vAlign=top width=5 background=../../assets/images/Cen_separate.gif></TD>
													<!--分隔条-->
													
													
													
													
													<TD width="73%" vAlign=top>
														<TABLE height=14 cellSpacing=0 cellPadding=0 width="100%"
															border=0>
															<TBODY>
																<TR>
																	<TD align=middle height=13>&nbsp;
																		
																  </TD>
																</TR>
															</TBODY>
														</TABLE>
														<TABLE borderColor=#ffffff height=48 cellSpacing=0
															borderColorDark=#cccccc cellPadding=0 width="100%"
															borderColorLight=#ffffff border=1>
															<TBODY>
																<TR align=middle>
																	<TD width="10%" height=30>
																		<div align="center">订单号
																    </div></TD>
																	<TD width="10%">
																		<div align="center">品种数
																    </div></TD>
																	<TD width="10%">
																		<div align="center">真实姓名
																    </div></TD>
																	<TD width="15%">
																		<div align="center">付款方式
																    </div></TD>
																	<TD width="15%">
																		<div align="center">运送方式
																    </div></TD>
																	<TD width="10%">
																		<div align="center">折扣
																    </div></TD>
																	<TD width="20%">
																		<div align="center">订书日期
																    </div></TD>
																	<TD width="15%">
																		<div align="center">执行
															      </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">10</A>
																	      </div></TD>
																	<TD>
																		<div align="center">1
																    </div></TD>
																	<TD>
																		<div align="center">任逍遥
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-12 16:48:00.0
																    </div></TD>
																	<TD>
																		<div align="center">已执行
																    </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">11</A>
																	      </div></TD>
																	<TD>
																		<div align="center">2
																    </div></TD>
																	<TD>
																		<div align="center">任逍遥
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-12 16:50:00.0
																    </div></TD>
																	<TD>
																		<div align="center">已执行
																    </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">12</A>
																	      </div></TD>
																	<TD>
																		<div align="center">1
																    </div></TD>
																	<TD>
																		<div align="center">任逍遥
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-12 16:53:00.0
																    </div></TD>
																	<TD>
																		<div align="center">已执行
																    </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">13</A>
																	      </div></TD>
																	<TD>
																		<div align="center">1
																    </div></TD>
																	<TD>
																		<div align="center">孙蓝
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-16 08:58:00.0
																    </div></TD>
																	<TD>
																		<div align="center"><A
																			href="#"><IMG
																				height=16 src="../../assets/images/enforce.gif" width=16>
																	    </A>
																	      </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">14</A>
																	      </div></TD>
																	<TD>
																		<div align="center">1
																    </div></TD>
																	<TD>
																		<div align="center">孙蓝
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-16 09:02:00.0
																    </div></TD>
																	<TD>
																		<div align="center"><A
																			href="#"><IMG
																				height=16 src="../../assets/images/enforce.gif" width=16>
																	    </A>
																	      </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">15</A>
																	      </div></TD>
																	<TD>
																		<div align="center">1
																    </div></TD>
																	<TD>
																		<div align="center">孙蓝
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-16 09:05:00.0
																    </div></TD>
																	<TD>
																		<div align="center"><A
																			href="#"><IMG
																				height=16 src="../../assets/images/enforce.gif" width=16>
																	    </A>
																	      </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">16</A>
																	      </div></TD>
																	<TD>
																		<div align="center">1
																    </div></TD>
																	<TD>
																		<div align="center">孙蓝
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-16 09:07:00.0
																    </div></TD>
																	<TD>
																		<div align="center"><A
																			href="#"><IMG
																				height=16 src="../../assets/images/enforce.gif" width=16>
																	    </A>
																	      </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">17</A>
																	      </div></TD>
																	<TD>
																		<div align="center">1
																    </div></TD>
																	<TD>
																		<div align="center">孙蓝
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-16 09:09:00.0
																    </div></TD>
																	<TD>
																		<div align="center"><A
																			href="#"><IMG
																				height=16 src="../../assets/images/enforce.gif" width=16>
																	    </A>
																	      </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">18</A>
																	      </div></TD>
																	<TD>
																		<div align="center">1
																    </div></TD>
																	<TD>
																		<div align="center">王国辉
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-19 09:11:00.0
																    </div></TD>
																	<TD>
																		<div align="center"><A
																			href="#"><IMG
																				height=16 src="../../assets/images/enforce.gif" width=16>
																	    </A>
																	      </div></TD>
																</TR>
																<TR align=middle>
																	<TD height=24>
																		<div align="center"><A
																			href="#">19</A>
																	      </div></TD>
																	<TD>
																		<div align="center">2
																    </div></TD>
																	<TD>
																		<div align="center">王国辉
																    </div></TD>
																	<TD>
																		<div align="center">银行付款
																    </div></TD>
																	<TD>
																		<div align="center">普通邮寄
																    </div></TD>
																	<TD>
																		<div align="center">100.0%
																    </div></TD>
																	<TD>
																		<div align="center">2005-12-22 10:13:00.0
																    </div></TD>
																	<TD>
																		<div align="center"><A
																			href="#"><IMG
																				height=16 src="../../assets/images/enforce.gif" width=16>
																	    </A>
																	      </div></TD>
																</TR>
															</TBODY>
														</TABLE>
														<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
															<TBODY>
																<TR>
																	<TD align=right>
																		当前页数：[1/2]&nbsp;
																		<A
																			href="#">下一页</A>
																		<A
																			href="#">最后一页&nbsp;</A>
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
													

													<!--表单部分-->
												</TR>
											</TBODY>
										</TABLE>
										<!--内容部分-->

										<!-- 页脚部分 -->
										<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
											<TBODY>
												<TR>
													<TD>&nbsp;
														








													</TD>
												</TR>
												<TR>
													<TD bgColor=#83cc10 height=5></TD>
												</TR>
												<TR>
													<TD align=middle>
														<TABLE height=78 cellSpacing=-2 cellPadding=-2
															width="100%" align=center border=0>
															<TBODY>
																<TR>
																	<TD width=124 height=13>&nbsp;
																		








																	</TD>
																	<TD colSpan=3 height=13>
																		<DIV align=center></DIV>
																	</TD>
																	<TD width=141>&nbsp;
																		








																	</TD>
																</TR>
																<TR>
																	<TD width=124 height=13>&nbsp;
																		








																	</TD>
																	<TD align=middle colSpan=3 height=13>
																		<A href="#">网上图书超市</A>客户服务热线：0516 - 85629999 85628888
																	</TD>
																	<TD width=141>&nbsp;
																		








																	</TD>
																</TR>
																<TR>
																	<TD colSpan=2 height=15>&nbsp;
																		








																	</TD>
																	<TD vAlign=bottom width=464>
																		<DIV align=center>
																			CopyRight &copy; 2008 www.zbaccp.com 
																		</DIV>
																	</TD>
																	<TD colSpan=2>&nbsp;
																		








																	</TD>
																</TR>
																<TR>
																	<TD colSpan=2>&nbsp;
																		








																	</TD>
																	<TD align=middle>
																		本站请使用IE6.0或以上版本 1024*768为最佳显示效果
																	</TD>
																	<TD colSpan=2>&nbsp;
																		








																	</TD>
																</TR>
																<TR>
																	<TD colSpan=2 height=15>&nbsp;
																		








																	</TD>
																	<TD align=middle>&nbsp;
																		








																	</TD>
																	<TD colSpan=2>&nbsp;
																		








																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<!-- 页脚部分 -->





									</TD>
								</TR>
							</TBODY>
						</TABLE>
					</TD>
				</TR>
			</TBODY>
		</TABLE>
	</BODY>
</HTML>
