<HTML>
	<HEAD>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<TITLE>网上图书超市</TITLE>
		<LINK href="../../assets/css/style.css" rel=stylesheet>
	</HEAD>
	<BODY>
		<!--最外层大表格-->
		<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
			<TBODY>
				<TR>
					<TD>
						<TABLE height=609 cellSpacing=0 cellPadding=0 width=777
							align=center bgColor=#ffffff border=0>
							<TBODY>
								<TR>
									<TD vAlign=top>




										<!--后台导航菜单-->
										<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
											<TBODY>
												<TR>
													<TD bgColor=#81cf00 colSpan=2 height=6></TD>
												</TR>
												<TR>
													<TD width="28%" height=70>
														<IMG height=58 src="../../assets/images/index_ht.gif" width=221>
													</TD>
													<TD vAlign=top width="72%">
														<TABLE height=35 cellSpacing=0 cellPadding=0 width="100%"
															border=0>
															<TBODY>
																<TR align=middle>
																	<TD vAlign=bottom rowSpan=2>&nbsp;
																		
																  </TD>
																	<TD vAlign=bottom height=22>
																		<A
																			href="&#21518;&#21488;_&#22270;&#20070;&#31649;&#29702;.html">图书管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A
																			href="&#21518;&#21488;_&#29992;&#25143;&#31649;&#29702;.html">用户管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A
																			href="&#21518;&#21488;_&#23450;&#21333;&#31649;&#29702;.html">订单管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A
																			href="&#21518;&#21488;_&#20844;&#21578;&#31649;&#29702;.html">公告管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A
																			href="&#21518;&#21488;_&#25237;&#31080;&#31649;&#29702;.html">投票管理</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		&nbsp;
																		<A
																			href="&#20027;&#39029;.html">退出</A>&nbsp;
																	</TD>
																</TR>
																<TR align=middle>
																	<TD height=13>
																		<A
																			href="&#21518;&#21488;_&#22270;&#20070;&#31649;&#29702;.html">Books
																			Manage</A>
																	</TD>
																	<TD>
																		<A
																			href="&#21518;&#21488;_&#29992;&#25143;&#31649;&#29702;.html">Member
																			Manage</A>
																	</TD>
																	<TD>
																		<A
																			href="&#21518;&#21488;_&#23450;&#21333;&#31649;&#29702;.html">Order
																			Manage</A>
																	</TD>
																	<TD>
																		<A
																			href="&#21518;&#21488;_&#20844;&#21578;&#31649;&#29702;.html">BBS
																			Manage </A>
																	</TD>
																	<TD>
																		<A
																			href="&#21518;&#21488;_&#25237;&#31080;&#31649;&#29702;.html">Poll
																			manage </A>
																	</TD>
																	<TD>
																		&nbsp;
																		<A
																			href="&#20027;&#39029;.html">Quit</A>&nbsp;
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<!--后台导航菜单-->



										<!--标题部分-->
										<TABLE class=tableBorder_LTR cellSpacing=0 cellPadding=0
											width="100%" border=0>
											<TBODY>
												<TR>
													<TD align=middle bgColor=#eeeeee height=30>
														≡≡≡
														<A href="#">用户管理</A> ≡≡≡
													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<!--标题部分-->



										<!--内容部分-->
										<TABLE class=tableBorder_LBR height=396 cellSpacing=0
											cellPadding=0 width="100%" border=0>
											<TBODY>
												<TR>
													<!--说明部分-->
													<TD vAlign=top width="26%" height=395>
														<TABLE cellSpacing=-2 cellPadding=-2 width="100%" border=0>
															<TBODY>
																<TR>
																	<TD class=word_grey align=middle width="55%" height=82>
																		&nbsp;
																		<IMG height=54 src="../../assets/images/reg.gif" width=84>
																	</TD>
																	<TD class=word_grey align=left width="45%">
																		用户信息管理
																	</TD>
																</TR>
																<TR>
																	<TD class=word_grey style="LINE-HEIGHT: 200%"
																		vAlign=top colSpan=2 height=112>
																		<UL>
																			<LI>
																				用户信息冻结/解冻：用户信息可以被冻结或解冻，但不可以添加、修改和删除。点击“冻结/解冻”栏中的“锁头”图标可以冻结用户；点击“冻结/解冻”栏中的“钥匙”图标可以解冻用户。

																			
																			<LI>
																				用户信息查看：可以查看用户的基本信息，但不可以查看用户密码。
																			</LI>
																		</UL>
																	</TD>
																</TR>
																<TR align=middle>
																	<TD class=word_grey vAlign=center colSpan=2></TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
													<!--说明部分-->

													<!--表单部分-->
													<!--分隔条-->
													<TD vAlign=top width=5 background=../../assets/images/Cen_separate.gif></TD>
													<!--分隔条-->

													<TD vAlign=top width="73%">
														<TABLE height=14 cellSpacing=0 cellPadding=0 width="100%"
															border=0>
															<TBODY>
																<TR>
																	<TD align=middle height=13>&nbsp;
																		
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
														<TABLE borderColor=#ffffff height=48 cellSpacing=0
															borderColorDark=#cccccc cellPadding=0 width="100%"
															borderColorLight=#ffffff border=1>
															<TBODY>
																<TR>
																	<TD align=middle width="14%" height=27>
																		用户名
																	</TD>
																	<TD align=middle width="14%">
																		真实姓名
																	</TD>
																	<TD align=middle width="10%">
																		城市
																	</TD>
																	<TD align=middle width="15%">
																		电话
																	</TD>
																	<TD align=middle width="26%">
																		Email
																	</TD>
																	<TD align=middle width="10%">
																		销费额
																	</TD>
																	<TD align=middle width="11%">
																		冻结/解冻
																	</TD>
																</TR>
																<TR
																	style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px">
																	<TD align=middle height=24>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_detail.jsp?ID=1">无语</A>
																	</TD>
																	<TD align=middle>
																		吴语
																	</TD>
																	<TD align=middle>
																		长春市
																	</TD>
																	<TD align=middle>
																		13614448007
																	</TD>
																	<TD align=middle>
																		wgh@sina.com
																	</TD>
																	<TD align=middle>
																		152.0
																	</TD>
																	<TD align=middle>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_freeze.jsp?ID=1"><IMG
																				height=15 alt=冻结 src="../../assets/images/freeze.gif" width=13>
																		</A>
																	</TD>
																</TR>
																<TR
																	style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px">
																	<TD align=middle height=24>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_detail.jsp?ID=2">blueStar</A>
																	</TD>
																	<TD align=middle>
																		BLUE星梦
																	</TD>
																	<TD align=middle>
																		长春市
																	</TD>
																	<TD align=middle>
																		13614449169
																	</TD>
																	<TD align=middle>
																		bluestar@sohu.com
																	</TD>
																	<TD align=middle>
																		0.0
																	</TD>
																	<TD align=middle>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_freeze.jsp?ID=2"><IMG
																				height=15 alt=冻结 src="../../assets/images/freeze.gif" width=13>
																		</A>
																	</TD>
																</TR>
																<TR
																	style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px">
																	<TD align=middle height=24>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_detail.jsp?ID=3">wind</A>
																	</TD>
																	<TD align=middle>
																		封轻杨
																	</TD>
																	<TD align=middle>
																		长春市
																	</TD>
																	<TD align=middle>
																		4972266
																	</TD>
																	<TD align=middle>
																		fqy777@sina.com
																	</TD>
																	<TD align=middle>
																		78.0
																	</TD>
																	<TD align=middle>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_freeze.jsp?ID=3"><IMG
																				height=15 alt=冻结 src="../../assets/images/freeze.gif" width=13>
																		</A>
																	</TD>
																</TR>
																<TR
																	style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px">
																	<TD align=middle height=24>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_detail.jsp?ID=4">wgh</A>
																	</TD>
																	<TD align=middle>
																		王国辉
																	</TD>
																	<TD align=middle>
																		长春市
																	</TD>
																	<TD align=middle>
																		3642159
																	</TD>
																	<TD align=middle>
																		iceer@sohu.com
																	</TD>
																	<TD align=middle>
																		560.1
																	</TD>
																	<TD align=middle>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_freeze.jsp?ID=4"><IMG
																				height=15 alt=冻结 src="../../assets/images/freeze.gif" width=13>
																		</A>
																	</TD>
																</TR>
																<TR
																	style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px">
																	<TD align=middle height=24>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_detail.jsp?ID=5">icer</A>
																	</TD>
																	<TD align=middle>
																		冰
																	</TD>
																	<TD align=middle>
																		长春市
																	</TD>
																	<TD align=middle>
																		13622445544755
																	</TD>
																	<TD align=middle>
																		icer@sohu.com
																	</TD>
																	<TD align=middle>
																		0.0
																	</TD>
																	<TD align=middle>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_freeze.jsp?ID=5"><IMG
																				height=15 alt=冻结 src="../../assets/images/freeze.gif" width=13>
																		</A>
																	</TD>
																</TR>
																<TR
																	style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px">
																	<TD align=middle height=24>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_detail.jsp?ID=6">sxp</A>
																	</TD>
																	<TD align=middle>
																		孙蓝
																	</TD>
																	<TD align=middle>
																		长春
																	</TD>
																	<TD align=middle>
																		13844817613
																	</TD>
																	<TD align=middle>
																		sunxiaopeng666@163.com
																	</TD>
																	<TD align=middle>
																		210.0
																	</TD>
																	<TD align=middle>
																		<A
																			href="http://localhost:8080/BookSupermarket/manage/member_thaw.jsp?ID=6"><IMG
																				height=15 alt=解冻 src="../../assets/images/thaw.gif" width=15>
																		</A>
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
														<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
															<TBODY>
																<TR>
																	<TD align=right>
																		当前页数：[1/1]&nbsp;
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>

													<!--表单部分-->
												</TR>
											</TBODY>
										</TABLE>
										<!--内容部分-->

										<!-- 页脚部分 -->
										<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
											<TBODY>
												<TR>
													<TD>&nbsp;
														






													</TD>
												</TR>
												<TR>
													<TD bgColor=#83cc10 height=5></TD>
												</TR>
												<TR>
													<TD align=middle>
														<TABLE height=78 cellSpacing=-2 cellPadding=-2
															width="100%" align=center border=0>
															<TBODY>
																<TR>
																	<TD width=124 height=13>&nbsp;
																		






																	</TD>
																	<TD colSpan=3 height=13>
																		<DIV align=center></DIV>
																	</TD>
																	<TD width=141>&nbsp;
																		






																	</TD>
																</TR>
																<TR>
																	<TD width=124 height=13>&nbsp;
																		






																	</TD>
																	<TD align=middle colSpan=3 height=13>
																		<A href="#">网上图书超市</A>客户服务热线：0516 - 85629999 85628888
																	</TD>
																	<TD width=141>&nbsp;
																		






																	</TD>
																</TR>
																<TR>
																	<TD colSpan=2 height=15>&nbsp;
																		






																	</TD>
																	<TD vAlign=bottom width=464>
																		<DIV align=center>
																			CopyRight &copy; 2008 www.zbaccp.com 
																		</DIV>
																	</TD>
																	<TD colSpan=2>&nbsp;
																		






																	</TD>
																</TR>
																<TR>
																	<TD colSpan=2>&nbsp;
																		






																	</TD>
																	<TD align=middle>
																		本站请使用IE6.0或以上版本 1024*768为最佳显示效果
																	</TD>
																	<TD colSpan=2>&nbsp;
																		






																	</TD>
																</TR>
																<TR>
																	<TD colSpan=2 height=15>&nbsp;
																		






																	</TD>
																	<TD align=middle>&nbsp;
																		






																	</TD>
																	<TD colSpan=2>&nbsp;
																		






																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<!-- 页脚部分 -->





									</TD>
								</TR>
							</TBODY>
						</TABLE>
					</TD>
				</TR>
			</TBODY>
		</TABLE>
	</BODY>
</HTML>
