<html>
	<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>后台管理</title>
		<link href="../../assets/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<TABLE class=tableBorder height=230 cellSpacing=0 cellPadding=0
			   width=350 align=center background=../../assets/images/login_M.jpg border=0>
				<TR>
					<TD align=middle height=64>
						&nbsp;
					</TD>
				</TR>
				<TR>
					<TD vAlign=top height=45>
						<TABLE height=96 cellSpacing=0 cellPadding=0 width="62%" border=0>
							<FORM name=form1 action=Login_M_deal.jsp method=post>
							<TBODY>
								<TR>
									<TD align=middle>
										&nbsp;用户名：
										<INPUT id=manager name=manager>
									</TD>
								</TR>
								<TR>
									<TD align=middle>
										&nbsp;密&nbsp;&nbsp;码：
										<INPUT id=PWD type=password name=PWD>
									</TD>
								</TR>
								<TR>
									<TD align=middle>
										<INPUT class=btn_grey type=submit value=确认 name=Submit>
										&nbsp;
										<INPUT class=btn_grey type=reset value=重置 name=Submit2>
										&nbsp;
										<INPUT class=btn_grey
											onclick="window.location.href='../index.jsp';" type=button
											value=返回 name=Submit3>
									</TD>
								</TR>
								</FORM>
						</TABLE>
					</TD>
				</TR>
			</TBODY>
		</TABLE>
	</body>
</html>