
<html>
	<head>
				 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<title></title>
		<link href="../../assets/css/style.css" rel="stylesheet" />
	</head>

	<body>
		<!-- 最外层的大表格 -->
		<table cellpadding="0" cellspacing="0" border="0" width="100%"
			height="100%">

			<tbody>
				<tr>
					<td>
						<!-- 显示页面信息的表格 -->
						<TABLE height=800 cellSpacing=0 cellPadding=0 width=777
							align=center bgColor=#ffffff border=0>
							<tbody>
								<tr>
									<td valign="top">







										<!--网站头部内容(包括导航菜单和Logo图片)-->
										<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
											<TBODY>
												<TR>
													<!--绿色背景-->
													<TD bgColor=#81cf00 colSpan=2 height=6></TD>
												</tr>
												<tr>
													<!--站点Logo图片-->
													<td align=middle width="27%" height=70>
														<IMG height=56 src="../../assets/images/index_03.gif" width=185>
													</td>
													<!-- 站点Logo图片 -->

													<!-- 导航信息 -->
													<TD vAlign=top width="73%">
														<TABLE height=35 cellSpacing=0 cellPadding=0 width="100%"
															border=0>
															<TBODY>
																<TR align=middle>
																	<TD vAlign=bottom height=22>
																		<A href="&#20027;&#39029;.html">首页</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A href="&#26032;&#20070;&#19978;&#26550;.html">新书上架</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A href="&#22270;&#20070;&#20998;&#31867;.html">图书分类</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A href="&#36141;&#29289;&#36710;.html">购物车</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A href="&#23450;&#21333;&#26597;&#35810;.html">订单查询</A>
																	</TD>
																	<TD vAlign=top width=1 rowSpan=2>
																		<IMG height=36 src="../../assets/images/Nav_separate.gif" width=1>
																	</TD>
																	<TD vAlign=bottom>
																		<A href="&#38144;&#21806;&#25490;&#34892;.html">销售排行</A>
																	</TD>

																</TR>
																<TR align=middle>
																	<TD height=13>
																		<A href="&#20027;&#39029;.html">Index</A>
																	</TD>
																	<TD>
																		<A href="&#26032;&#20070;&#19978;&#26550;.html">New
																			Books</A>
																	</TD>
																	<TD>
																		<A href="&#22270;&#20070;&#20998;&#31867;.html">Book
																			Sort</A>
																	</TD>
																	<TD>
																		<A href="&#36141;&#29289;&#36710;.html">Shopping
																			Bag</A>
																	</TD>
																	<TD>
																		<A href="&#23450;&#21333;&#26597;&#35810;.html">Order
																			Search</A>
																	</TD>
																	<TD>
																		<A href="&#38144;&#21806;&#25490;&#34892;.html">Sell
																			Sort</A>
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
													<!-- 导航信息 -->
												</tr>














												<!--网站Logo(小女孩)-->
												<TR align=right>
													<TD colSpan=2 height=70>
														<IMG height=244 src="../../assets/images/index_06.jpg" width=770>
													</TD>
												</TR>
												<!-- 网站Logo(小女孩) -->
												<TR align=right>
													<TD colSpan=2 height=17>
														&nbsp;





													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<!-- Logo部分结束 -->



























										<!--网页内容部分-->
										<TABLE height=330 cellSpacing=0 cellPadding=0 width="100%"
											border=0>

											<tbody>
												<tr>
													<!--左边内容部分，占26%的宽度-->
													<td valign="top" width="26%">
														<!--用户登录表单-->
														<FORM name=form1 action=Login_U.jsp method=post>
															<TABLE height=99 cellSpacing=0 cellPadding=0 width="100%"
																border=0>
																<TBODY>
																	<TR>
																		<TD width="8%">
																			&nbsp;





																		</TD>
																		<TD vAlign=top width="92%"
																			background=../../assets/images/index_09.gif height=112>
																			<TABLE cellSpacing=0 cellPadding=0 width="100%"
																				border=0>
																				<TBODY>
																					<TR>
																						<TD width="8%" height=20>
																							&nbsp;





																						</TD>
																						<TD width="81%">
																							&nbsp;





																						</TD>
																						<TD width="11%">
																							&nbsp;





																						</TD>
																					</TR>
																					<TR>
																						<TD>
																							&nbsp;





																						</TD>
																						<TD align=middle height=24>
																							用户名
																							<INPUT class=txt_grey id=username size=16
																								name=username>
																						</TD>
																						<TD>
																							&nbsp;





																						</TD>
																					</TR>
																					<TR>
																						<TD>
																							&nbsp;





																						</TD>
																						<TD align=middle height=24>
																							密&nbsp;&nbsp;码
																							<INPUT class=txt_grey id=PWD type=password
																								size=16 name=PWD>
																						</TD>
																						<TD>
																							&nbsp;





																						</TD>
																					</TR>
																					<TR>
																						<TD>
																							&nbsp;





																						</TD>
																						<TD align=middle height=31>
																							<INPUT class=btn_grey type=button value=注册
																								name=Button>
																							&nbsp;
																							<INPUT class=btn_grey type=button value=登录
																								name=Submit2>
																							<INPUT class=btn_grey type=reset value=重置
																								name=Submit3>
																						</TD>
																						<TD>
																							&nbsp;





																						</TD>
																					</TR>
																					<TR>
																						<TD>
																							&nbsp;





																						</TD>
																						<TD align=middle>
																							&nbsp;





																						</TD>
																						<TD>
																							&nbsp;





																						</TD>
																					</TR>
																				</TBODY>
																			</TABLE>
																		</TD>
																	</TR>
																</TBODY>
															</TABLE>
														</FORM>
														<!-- 登录表单 -->


















														<!--滚动公告部分-->
														<TABLE height=55 cellSpacing=0 cellPadding=0 width="100%"
															border=0>
															<TBODY>
																<TR>
																	<TD align=right colSpan=2>
																		<IMG height=49 src="../../assets/images/index_14.gif" width=185>
																	</TD>
																</TR>
																<TR>
																	<TD width="14%">
																		&nbsp;





																	</TD>
																	<TD class=tableBorder_B vAlign=top width="86%"
																		height=100>
																		<MARQUEE onmousemove=this.stop()
																			onmouseout=this.start() scrollAmount=1 scrollDelay=1
																			direction=up height=100>
																			<TABLE height=21 cellSpacing=0 cellPadding=0
																				width="100%" border=0>
																				<TBODY>
																					<TR>
																						<TD>
																							&nbsp;&nbsp;&nbsp;&nbsp;在圣诞节来临之际，本书店为答解新老朋友的，特举办购物有奖活动！
																						</TD>
																					</TR>
																				</TBODY>
																			</TABLE>
																			<TABLE height=21 cellSpacing=0 cellPadding=0
																				width="100%" border=0>
																				<TBODY>
																					<TR>
																						<TD>
																							购物有奖，快快行动吧！
																						</TD>
																					</TR>
																				</TBODY>
																			</TABLE>
																		</MARQUEE>
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
														<!-- 滚动公告 -->












														<!--投票部分-->
														<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
															<TBODY>
																<TR>
																	<TD align=right colSpan=2 height=50>
																		<IMG height=50 src="../../assets/images/index_18.gif" width=185>
																	</TD>
																</TR>
																<TR>
																	<TD width="14%">
																		&nbsp;


																	</TD>
																	<TD width="86%" height=27>
																		您需要哪方面的书籍？
																	</TD>
																</TR>
																<TR>
																	<TD>
																		&nbsp;


																	</TD>
																	<TD vAlign=top height=100>
																		<FORM name=form3 action=# method=post>
																			<TABLE height=151 cellSpacing=0 cellPadding=0
																				width="90%" align=center border=0>
																				<TBODY>
																					<TR>
																						<TD>
																							<INPUT id="r1" class=noborder type=radio CHECKED
																								value=实例类 name=optionname>
																							<span onClick="form3.r1.checked=true"
																								style="cursor: hand">实例类</span>
																						</TD>
																					</TR>
																					<TR>
																						<TD>
																							<INPUT id="r2" class=noborder type=radio
																								value=教程类 name=optionname>
																							<span onClick="form3.r2.checked=true"
																								style="cursor: hand">教程类</span>
																						</TD>
																					</TR>
																					<TR>
																						<TD>
																							<INPUT id="r3" class=noborder type=radio
																								value=手册类 name=optionname>
																							<span onClick="form3.r3.checked=true"
																								style="cursor: hand">手册类</span>
																						</TD>
																					</TR>
																					<TR>
																						<TD>
																							<INPUT id="r4" class=noborder type=radio
																								value=经验技巧类 name=optionname>
																							<span onClick="form3.r4.checked=true"
																								style="cursor: hand">经验技巧类</span>
																						</TD>
																					</TR>
																					<TR>
																						<TD>
																							<INPUT class=btn_grey type=submit value=投票
																								name=Submit7>
																							<INPUT class=btn_grey type=button value=查看结果
																								name=Submit8>
																						</TD>
																					</TR>
																				</TBODY>
																			</TABLE>
																		</FORM>
																	</TD>
																</TR>
															</TBODY>
														</TABLE>

														<!-- 投票部分 -->












														<!--左边内容和中间内容的分隔线-->
													<TD vAlign=top width=5 background=../../assets/images/Cen_separate.gif></TD>
















													<!--内容主体部分-->
													<TD vAlign=top width="73%">
														<TABLE height=272 cellSpacing=0 cellPadding=0 width="100%"
															border=0>
															<TBODY>
																<TR>
																	<TD vAlign=top width="97%" height=220>
																		<TABLE height=126 cellSpacing=0 cellPadding=0
																			width="100%" border=0>
																			<TBODY>
																				<TR>
																					<TD vAlign=top>
																						<TABLE height=59 cellSpacing=0 cellPadding=0
																							width="100%" border=0>
																							<TBODY>
																								<TR>
																									<TD class=tableBorder_B width="86%" height=59>
																										<IMG height=70 src="../../assets/images/ico_cart.gif"
																											width=176>
																									</TD>
																								</TR>
																							</TBODY>
																						</TABLE>
																						<TABLE cellSpacing=0 cellPadding=0 width="100%"
																							border=0>
																							<TBODY>
																								<TR>
																									<TD>
																										<FORM name=form1 action=cart_modify.jsp
																											method=post>
																											<TABLE height=48 cellSpacing=0 cellPadding=0
																												width="100%" align=center border=0>
																												<TBODY>
																													<TR vAlign=center align=middle>
																														<TD class=tableBorder_B1 height=27>
																															编号
																														</TD>
																														<TD class=tableBorder_B1 height=27>
																															书号
																														</TD>
																														<TD class=tableBorder_B1>
																															书名
																														</TD>
																														<TD class=tableBorder_B1 height=27>
																															单价
																														</TD>
																														<TD class=tableBorder_B1 height=27>
																															数量
																														</TD>
																														<TD class=tableBorder_B1 height=27>
																															金额
																														</TD>
																														<TD class=tableBorder_B1>
																															退回
																														</TD>
																													</TR>
																													<TR vAlign=center align=middle>
																														<TD width=32 height=27>
																															1
																														</TD>
																														<TD width=109 height=27>
																															7-111-15984-5
																														</TD>
																														<TD width=199 height=27>
																															JSP工程应用与项目实践
																														</TD>
																														<TD width=59 height=27>
																															￥38.0
																														</TD>
																														<TD width=51 height=27>
																															<INPUT class=txt_grey
																																onblur=form1.submit(); size=7 value=1
																																name=num0>
																														</TD>
																														<TD width=65 height=27>
																															￥38.0
																														</TD>
																														<TD width=34>
																															<A
																																href="#"><IMG
																																	height=16 src="../../assets/images/del.gif" width=16>
																															</A>
																														</TD>
																													<TR vAlign=center align=middle>
																														<TD width=32 height=27>
																															2
																														</TD>
																														<TD width=109 height=27>
																															7-111-16332-X
																														</TD>
																														<TD width=199 height=27>
																															ASP工程应用与项目实践
																														</TD>
																														<TD width=59 height=27>
																															￥42.0
																														</TD>
																														<TD width=51 height=27>
																															<INPUT class=txt_grey
																																onblur=form1.submit(); size=7 value=1
																																name=num1>
																														</TD>
																														<TD width=65 height=27>
																															￥42.0
																														</TD>
																														<TD width=34>
																															<A
																																href="#"><IMG
																																	height=16 src="../../assets/images/del.gif" width=16>
																															</A>
																														</TD>
																													</TR>
																												</TBODY>
																											</TABLE>
																										</FORM>
																										<TABLE height=52 cellSpacing=0 cellPadding=0
																											width="100%" align=center border=0>
																											<TBODY>
																												<TR vAlign=center align=middle>
																													<TD height=10>
																														&nbsp;
																													</TD>
																													<TD align=left width="24%" colSpan=-3
																														height=10>
																														&nbsp;
																													</TD>
																												</TR>
																												<TR vAlign=center align=middle>
																													<TD class=tableBorder_B1 height=21>
																														&nbsp;
																													</TD>
																													<TD class=tableBorder_B1 align=left
																														colSpan=-3 height=21>
																														合计总金额：￥80.0
																													</TD>
																												</TR>
																												<TR vAlign=center align=middle>
																													<TD colSpan=2 height=21>
																														<A onclick=form1.submit();
																															href="#">修改数量</A>
																														|
																														<A
																															href="#">继续购书</A>
																														|
																														<A
																															href="#">去收银台结账</A>
																														|
																														<A
																															href="#">清空购物车</A>
																													</TD>
																												</TR>
																											</TBODY>
																										</TABLE>
																									</TD>
																								</TR>
																							</TBODY>
																						</TABLE>
																					</TD>
																				</TR>
																			</TBODY>
																		</TABLE>
																	</TD>
																	<TD vAlign=top width="3%">
																		&nbsp;
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
													<!--网页内容部分-->




















													<!-- 页脚部分 -->
													<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
														<TBODY>
															<TR>
																<TD>
																	&nbsp;




																</TD>
															</TR>
															<TR>
																<TD bgColor=#83cc10 height=5></TD>
															</TR>
															<TR>
																<TD align=middle>
																	<TABLE height=78 cellSpacing=-2 cellPadding=-2
																		width="100%" align=center border=0>
																		<TBODY>
																			<TR>
																				<TD width=124 height=13>
																					&nbsp;




																				</TD>
																				<TD colSpan=3 height=13>
																					<DIV align=center></DIV>
																				</TD>
																				<TD width=141>
																					&nbsp;




																				</TD>
																			</TR>
																			<TR>
																				<TD width=124 height=13>
																					&nbsp;




																				</TD>
																				<TD align=middle colSpan=3 height=13>
																					<A
																						href="http://localhost:8080/BookSupermarket/manage/Login_M.jsp">网上图书超市</A>客户服务热线：0516
																					- 85629999 85628888
																				</TD>
																				<TD width=141>
																					&nbsp;




																				</TD>
																			</TR>
																			<TR>
																				<TD colSpan=2 height=15>
																					&nbsp;




																				</TD>
																				<TD vAlign=bottom width=464>
																					<DIV align=center>
																						CopyRight &copy; 2008 www.zbaccp.com
																					</DIV>
																				</TD>
																				<TD colSpan=2>
																					&nbsp;




																				</TD>
																			</TR>
																			<TR>
																				<TD colSpan=2>
																					&nbsp;




																				</TD>
																				<TD align=middle>
																					本站请使用IE6.0或以上版本 1024*768为最佳显示效果
																				</TD>
																				<TD colSpan=2>
																					&nbsp;




																				</TD>
																			</TR>
																			<TR>
																				<TD colSpan=2 height=15>
																					&nbsp;




																				</TD>
																				<TD align=middle>
																					&nbsp;




																				</TD>
																				<TD colSpan=2>
																					&nbsp;




																				</TD>
																			</TR>
																		</TBODY>
																	</TABLE>
																</TD>
															</TR>
														</TBODY>
													</TABLE>
													<!-- 页脚部分 -->







													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<!-- 显示页面信息的表格 -->
									</TD>
								</TR>
							</TBODY>
						</TABLE>
						<!-- 最外层的大表格 -->
	</BODY>
</HTML>